body{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#green {
  grid-column: 1/4;
}
  
#orange {
  grid-column: 1/3;
  grid-row: 3;
}
  
#yellow {
  grid-column: 1;
}
  
#red {
  grid-column: 2;
}
  
#blue {
  grid-column: 3;
  grid-row: 2/4;
}
  
ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}