.calc-cnt {
    width: 400px;
    border-radius: 20px;
}

p{
    font-weight: bold;
    font-size: 24px;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 2px;
    background-color: rgb(68, 67, 67);
    
}

.calc-cnt>div{
    display: grid;
    text-align: center;
    background-color: rgb(68, 67, 67);
    color: white;
    justify-content: end;
}

.più, .sette, .quattro, .uno, .zero{
    grid-column: 1;
    background-color: rgb(233, 233, 233);
}

.meno, .otto, .cinque, .due, .punto{
    grid-column: 2;
    background-color: rgb(233, 233, 233);
}

.per, .nove, .sei, .tre, .ac{
    grid-column: 3;
    background-color: rgb(233, 233, 233);
}

.diviso, .uguale{
    grid-column: 4;
    background-color: rgb(233, 233, 233);
}

.uguale{
    display: flex;
    background-color: rgb(235, 100, 100);
    grid-row: 2/6;
    justify-content: center;
    align-items: center;
}

.più, .meno, .per, .diviso{
    background-color: lightgrey;
}